.main {
  background-color: antiquewhite;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px 0;
  width: 60%;

}

.title {
  font-size: 3.2em;
  margin: 0 auto;

}

.navbar-brand {
  display: flex;
}

.note-icon {
  width: 50%;
  height: 50%;
}

.input-container {
  text-align: center;
  width: 80%;
  margin: 50px auto 25px auto;
  background-color: burlywood;
  padding: 2px 0 15px 0;
  border-radius: 10px;

  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075) !important;
}

.date {
  color: grey;
}

.amplify-button {
  background: linear-gradient(to right,
      var(--amplify-colors-blue-80),
      var(--amplify-colors-red-60));
  /* color: white !important; */

  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075) !important;
}

.amplify-button[data-variation='primary'] {
  background: linear-gradient(to right,
      var(--amplify-colors-blue-80),
      var(--amplify-colors-red-60));
}

.amplify-input {
  width: 80% !important;
  margin-bottom: 10px !important;
  background: lightgray !important;

  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075) !important;
}

.notes-container {
  background: burlywood;
  border-radius: 10px;
  padding: 5px 0;
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;

  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.note {
  padding: 10px 5px;
  width: max-content + 30px;
  max-width: 300px;
  margin: 5px auto;
  border-radius: 10px;
  background: tan;
  position: relative;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);

}

.name-label {
  padding-top: 12px;
}

.delete-icon {
  color: maroon;
  position: absolute;
  right: 4px;
  top: 4px;
}

.delete-icon:hover {
  color: red;
  cursor: pointer;
  transform: scale(1.1);
}

.btn-sign-out {}