.main {
  background-color: gray;
  margin: 0 10px;
  border-radius: 20px;
  padding: 10px 0;
}

.container {
  text-align: center;
  width: 50%;
  margin: 100px auto 0 auto;
}

.amplify-button {
  background: linear-gradient(
    to right,
    var(--amplify-colors-blue-80),
    var(--amplify-colors-red-60)
  );
  color: white !important;
}

.sign-out {
  background: darkslateblue !important;
}

.delete {
  background: darkred !important;
}

.create {
  background: darkolivegreen !important;
}

.amplify-button:hover {
  transform: scale(1.05);
  outline: none;
  border: none;
}

.amplify-button[data-variation='primary'] {
  background: linear-gradient(
    to right,
    var(--amplify-colors-blue-80),
    var(--amplify-colors-red-60)
  );
}

.notes-container {
  border: 1px outset lightgray;
  background: lightgray;
  border-radius: 8px;
  padding: 5px 0;
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
}

.note {
  border: 1px outset teal;
  padding: 10px 5px;
  width:200px;
  margin: 5px auto;
  border-radius: 10px;
  background: lightcyan;
}

